# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gz\代码归档\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
https://github.com/hujiangcs/hogers.git
